<% loopcount = 1 %>
<div class="content">
<% @items.each do |item| %>
	<div class="item<%= loopcount %>">
		<% loopcount = loopcount +1%>
		<%= image_tag item.picture.url(:medium), :class => "iteminfo" %> <blockquote></blockquote>
		<h2 class = "iteminfotext"><%= item.votes %></h2>
		<h1 class = "iteminfotext"><%= item.location %></h1>
		
		
		
		<div class="iteminfotext"><%= button_to "Vote", :action => "vote", :id => item.id, %></div>
		<blockquote></blockquote>
	</div>
</div>
<% end %>
	<% yield %>